<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      
      <mat-toolbar-row>
        <mat-icon aria-hidden="false" (click)="drawer.toggle()" fontIcon="menu"></mat-icon>
        <span>Simple crm</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</mat-drawer-container>